root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,yml,yaml,ini,conf,js,jsx,ts,tsx,json,css,html,md,txt}]
end_of_line = lf

[*.ps1]
end_of_line = crlf

[*.{md,txt}]
trim_trailing_whitespace = false