fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.41
psycopg[binary]==3.2.9
pydantic==2.11.5
redis==6.2.0

python-multipart==0.0.20

alembic==1.16.1

pytest==8.4.0
httpx==0.28.1

cryptography==45.0.4
